body {
  font-family: "Lato", "Open Sans", sans-serif;
  background-color: #2F4858;
  color: white;
}

.flexbox {
  display: flex;
}

.column {
  width: 50%;
  margin-left: 5%;
}

#editor, #preview {
  padding: 15px;
  height: 80vh;
  width: 85%;
}

#editor {
  resize: vertical;
  border-radius: 5px;
  font-family: monospace;
  background-color: #96C0B7;
}

#preview {
  background-color: #96C0B7;
  overflow-y: scroll;
}

blockquote {
  border-left: 3px solid gray;
  padding-left: 15px;
  margin-left: 25px;
}

img {
  max-width: 400px;
}

@media only screen and (max-width: 850px) {
  .flexbox {
    display: flex;
    flex-direction: column;
  }

  .column {
    width: 95%;
    margin: auto 5% auto 5%;
  }

  #editor, #preview {
    padding: 15px;
    height: 60vh;
    width: 90%;
  }
}
